.cart-item {
  display: flex;
  gap: 15px;
  padding-block: 10px;
  &:not(:last-child){
    border-bottom: 1px solid #c8c8c8;
  }
  .img-order {
    width: 70px;
    height: 70px;
  }
  .info-order {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    .modify {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      color: gray;
    }
    .price-block {
      display: flex;
      justify-content: space-between;
      .quantity {
        display: flex;
        align-items: center;
        gap: 5px;
        button {
          font-size: 17px;
          color: #fe5f1e;
          font-weight: 600;
          width: 25px;
          height: 25px;
          border: 1px solid #fe5f1e;
          border-radius: 5px;
          transition: 0.3s;
          &:disabled {
            color: gray;
            border: 1px solid gray;
            cursor: not-allowed;
          }
          &:hover:not(:disabled) {
            background-color: #fe5f1e;
            color: white;
          }
        }
      }
    }
  }
}
